.parallax {
  background-image: url(../../images/5.jpg);
  background-attachment: fixed;
  background-position: 10px 20px;
  background-size: cover;
  position: relative;
  padding: 100px 0 !important;
}
.parallax::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.parallax .main-btn {
  --bs-btn-hover-bg: transparent;
}
