footer .link {
  transition: 0.3s;
  color: inherit;
}
.footer-link:hover {
  color: black;
}
.footer-social-link.facebook:hover {
  color: #1877f2;
}
.footer-social-link.twitter:hover {
  color: #1da1f2;
}
.footer-social-link.dribbble:hover {
  color: #444444;
}
.footer-social-link.youtube:hover {
  color: #ff0000;
}
.footer-social-link.linkedin:hover {
  color: #0a66c2;
}
.footer-social-link.insta:hover {
  color: #e1306c;
}
/* Start Dark Mode */
[data-bs-theme='dark'] footer {
  background-color: #13181c !important;
}
[data-bs-theme='dark'] .footer-link:hover {
  color: var(--main-color);
}
/* End Dark Mode */
